<div class="container">
<p>Liste des comptes!</p>
<table>
<tr>
  <td>ID</td>
  <td>Code</td>
  <td>Designation</td>
  <td>Prix</td>
  <td>Stock</td>
  <td>Modifier</td>
  <td>Action</td>
</tr>
  <tr *ngFor="let produit of prod">
    <td>
      {{produit.id}}
  </td>
  <td>
    {{produit.codeProduit}}
  </td>
  <td>
    {{produit.designation}}
  </td>
  <td>
    {{produit.prix}}
  </td>
  <td>
    {{produit.stock}}
  </td>
  <td>
    <button (click)="modifier(produit)">Modifier</button>
  </td>
  <td>
    <button (click)="supprimer(produit)">Supprimer</button></td>
</tr>
</table>
</div>
<div>
 Alerte:{{AlerteStock}}
</div>

