<div class="container">
<p>Liste des comptes!</p>
<button class="btn-add" mat-button (click)="openDialog()">Ajouter</button>
<table>
  <thead>
  <th>ID</th>
  <th>Code</th>
  <th>Designation</th>
  <th>Prix</th>
  <th>Stock</th>
  <th>Modifier</th>
  <th>Action</th>
</thead>
<tbody>
  <tr *ngFor="let produit of prod">
    <td>
      {{produit.id}}
  </td>
  <td>
    {{produit.codeProduit}}
  </td>
  <td>
    {{produit.designation}}
  </td>
  <td>
    {{produit.prix}}
  </td>
  <td>
    {{produit.stock}}
  </td>
  <td>
    <button  class="btn-modif"(click)="modifier(produit)">Modifier</button>
  </td>
  <td>
    <button class="btn-delete"(click)="supprimer(produit)">Supprimer</button></td>
</tr>
</tbody>
</table>
</div>
<div>
 Alerte:{{AlerteStock}}
</div>

